
  <div class="row" style="margin-top: 30px">
  <div *ngFor="let car of carsService.cars" class="card m-3 border-danger" style="width: 14rem;">
    <img src="https://image.flaticon.com/icons/png/512/26/26625.png" class="card-img-top" alt="">
    <div class="card-body ">
      <h5 class="card-title">{{car.Mark}} {{car.Model}}</h5>
      <ul class="card-text " style="list-style: none; padding: 0%">
        <li>
          <b>Car class: </b>{{car.CarClass}}
        </li>
        <li>
          <b>Registration number: </b> {{car.RegistrationNumber }}
        </li>
        <li>
          <b>Year of issue: </b>{{car.YearOfIssue | date:'y'}}
        </li>
      </ul>
    </div>
  </div>
  </div>
