<div class="container" style="margin-top: 60px">
  <div class="row">
  <div *ngFor="let car of carsService.cars" class="card m-3" style="width: 14rem;">
    <img src="http://vodokanal-kostyukovichi.by/assets/images/net_foto.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{car.Mark}} {{car.Model}}</h5>
      <ul class="card-text" style="list-style: none; padding: 0">
        <li>
          <b>Registration number: </b> {{car.RegistrationNumber}}
        </li>
        <li>
          <b>Year of issue: </b>{{car.YearOfIssue | date:'y'}}
        </li>
      </ul>
    </div>
  </div>
    <div *ngFor="let car of carsService.cars" class="card m-3" style="width: 14rem;">
      <img src="http://vodokanal-kostyukovichi.by/assets/images/net_foto.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{car.Mark}} {{car.Model}}</h5>
        <ul class="card-text" style="list-style: none; padding: 0">
          <li>
            <b>Registration number: </b> {{car.RegistrationNumber}}
          </li>
          <li>
            <b>Year of issue: </b>{{car.YearOfIssue | date:'y'}}
          </li>
        </ul>
      </div>
    </div>
    <div *ngFor="let car of carsService.cars" class="card m-3" style="width: 14rem;">
      <img src="http://vodokanal-kostyukovichi.by/assets/images/net_foto.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{car.Mark}} {{car.Model}}</h5>
        <ul class="card-text" style="list-style: none; padding: 0">
          <li>
            <b>Registration number: </b> {{car.RegistrationNumber}}
          </li>
          <li>
            <b>Year of issue: </b>{{car.YearOfIssue | date:'y'}}
          </li>
        </ul>
      </div>
    </div>
    <div *ngFor="let car of carsService.cars" class="card m-3" style="width: 14rem;">
      <img src="http://vodokanal-kostyukovichi.by/assets/images/net_foto.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{car.Mark}} {{car.Model}}</h5>
        <ul class="card-text" style="list-style: none; padding: 0">
          <li>
            <b>Registration number: </b> {{car.RegistrationNumber}}
          </li>
          <li>
            <b>Year of issue: </b>{{car.YearOfIssue | date:'y'}}
          </li>
        </ul>
      </div>
    </div>

  </div>

  </div>
