<div class="container-fluid">
<div class="row">
<div class="col-8">
<app-orders-filter></app-orders-filter>
<app-orders-list></app-orders-list>
</div>
  <div>
<app-orders-add></app-orders-add>
  </div>
</div>
  <div class="row">
    <div class="col-8" >
      <div style="text-align: center">
    <h3 >Drivers list</h3>
      </div>
    <app-drivers></app-drivers>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div style="text-align: center">
    <h3>Cars list</h3>
      </div>
    <app-cars></app-cars>
    </div>
  </div>

</div>
