
  <table class="table table-danger table-bordered" style="text-align: center;">
    <thead class="bg-danger text-light">
      <th>Start rent date</th>
      <th>End rent date </th>
      <th>Comment</th>
      <th >Driver name</th>
      <th>Driver license</th>
      <th>Car info</th>
      <th>Car registration number</th>
      <th></th>
      <th></th>
      <th *ngIf="EditRowID !== null"></th>
    </thead>
    <tr *ngFor="let order of orderService.orders">
      <td *ngIf="order.Id === EditRowID"><input class="input-group-text" type="date" value="{{order.StartDate}}" [(ngModel)]="order.StartDate"> </td>
      <td *ngIf="order.Id !== EditRowID" (click)="EditRowID(order.Id)">
        {{order.StartDate | date:'longDate'}}
      </td>
      <td *ngIf="order.Id === EditRowID"><input class="input-group-text" type="date" value="{{order.EndDate}}" [(ngModel)]="order.EndDate"> </td>
      <td *ngIf="order.Id !== EditRowID" (click)="EditRowID(order.Id)" >
        {{order.EndDate | date:'longDate'}}
      </td>
      <td *ngIf="order.Id === EditRowID"><input class="input-group-text" type="text" [(ngModel)]="order.Comment"> </td>
      <td *ngIf="order.Id !== EditRowID" (click)="EditRowID(order.Id)">
        {{order.Comment}}
      </td>
      <td>
        {{order.Driver.FirstName + " " + order.Driver.LastName  }}
      </td>
      <td *ngIf="order.Id === EditRowID"><input class="input-group-text" type="text" [(ngModel)]="order.DriverLicense"> </td>
      <td *ngIf="order.Id !== EditRowID" (click)="EditRowID(order.Id)">
        {{order.DriverLicense}}
      </td>
      <td>
        {{order.Car.Mark + " " + order.Car.Model}}
      </td>
      <td *ngIf="order.Id === EditRowID"><input class="input-group-text" type="text" [(ngModel)]="order.CarId"> </td>
      <td *ngIf="order.Id !== EditRowID" (click)="EditRowID(order.Id)">
       {{order.CarId}}
      </td>
      <td *ngIf="EditRowID === order.Id">
        <button class="btn btn-info" (click)="EditOrder(order)">Cancel</button>
      </td>
      <td *ngIf="EditRowID !== order.Id">
        <button class="btn btn-info" (click)="EditOrder(order)">Edit</button>
      </td>
      <td *ngIf="order.Id === EditRowID"><button class="btn btn-success" (click)="UpdateOrder(order.Id, order)">Save </button> </td>
      <td>
        <button class="btn btn-outline-danger" (click)="CatchID(order.Id)">X</button>
      </td>
    </tr>
  </table>


