<div class="row" style="margin-top: 30px">
<div *ngFor="let driver of driversService.drivers" class="card m-3  border-danger" style="width: 14rem;" >
  <img src="http://vodokanal-kostyukovichi.by/assets/images/net_foto.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{driver.FirstName}} {{driver.LastName}}</h5>
    <ul class="card-text" style="list-style: none; padding: 0%">
      <li>
        <b>Driver license: </b> {{driver.NumberDriverLicense}}
      </li>
      <li>
        <b>Birth date: </b>{{driver.BirthDate | date:'shortDate'}}
      </li>
    </ul>
  </div>
</div>
</div>
