<div class="container bg-danger text-light pt-2 pb-2" style="margin-top: 100px;">
  <div class="row">
    <div class="col-2">
    <select class="form-control" #t>
      <option value="/date/startDate/">by start date</option>
      <option value="/date/endDate/">by end date</option>
      <option value="/byDriver/">by driver name</option>
      <option value="/cars/mark/">by car mark</option>
      <option value="/cars/model/">by car model</option>
    </select>
    </div>
      <div class="col-2">
      <input  [(ngModel)]="SelectParameter" type="text" class="form-control" >
      </div>
      <div class="col-1">
      <button type="button" (click)="SearchBySelectParameter(SelectParameter, t.value)" class="btn btn-outline-light">Search</button>
      </div>
    <div class="col-1">
      <button type="button" (click)="ResetSearchSettings()" class="btn btn-outline-warning">Reset</button>
    </div>
  </div>
    <hr>
<div class="row">
    <div class="col-2">
      <select #SortSelect class="form-control" >
        <option value="start" >Start rent date</option>
        <option value="end">End rent date</option>
      </select>
      </div>
  <div class="col-1">
      <button class="btn btn-outline-light" (click)="SortBy(SortSelect.value)">Sort</button>
    </div>
</div>
</div>
