<div class="container bg-danger text-light" style="margin-top: 100px;" >
  <div class="row border pt-2">
    <div class="col-4">
<form [formGroup]="addForm" (ngSubmit)="OnSubmit(addForm.value)" style="width: 250px;" class="form-group">
  <div>
    <label>Driver license</label>
  <input class="form-control mb-1" formControlName="DriverLicense" type="text" placeholder="Driver license">
  </div>
  <div>
    <label>Car register number</label>
  <input class="form-control mb-1" formControlName="CarId" type="text" placeholder="Car register number" >
  </div>
  <div>
    <label>Some comments...</label>
  <input class="form-control mb-1" formControlName="Comment" type="text" placeholder="Some comments...">
  </div>
  <div>
    <label>Start rent date</label>
  <input class="form-control mb-1" formControlName="StartDate" type="date">
  </div>
  <div>
    <label>End rent date</label>
  <input class="form-control mb-1" formControlName="EndDate" type="date">
  </div>
  <div style="text-align: center" class="mt-2">
    <button class="btn btn-success" type="submit" >Add</button>
  </div>
</form>
    </div>
  </div>
</div>
